
   <div class="container">
        <div class="card shadow mb-4">
            <div class="card-body">
                <table class="table table-striped">
                    <tr>
                        <th>idBus</th>
                        <th>Nom</th>
                        <th>Prix</th>
                        <th>Date Création</th>
                        <th>Couleur</th> 
                        <th>Capacity</th> 
                        <th>Marque</th>
                        <th>Image</th>
                        <th>Suppression</th>
                        <th>Modification</th>
                    </tr>
                    <tbody *ngFor="let bus of buss">
                        <tr>
                            <td>{{bus.idBus}}</td>
                            <td>{{bus.typeBus}}</td>
                            <td>{{bus.price}}</td>
                            <td>{{bus.dateMisenService | date:'dd/MM/yyyy'}}</td>
                            <td>{{bus.couleur}}</td>
                            <td>{{bus.capacity}}</td>
                            <td>{{bus.marque?.nomMarque}}</td>
                            <td><img class="card-img-top img-responsive"
                              
                                [src]="bus.image.image"
                                style = "height :50px;width:100px">
                            </td>
                            <td><a *ngIf="authService.isAdmin()" class="btn btn-danger"  (click)="supprimerBus(bus)">Supprimer</a></td>
                            <td><a *ngIf="authService.isAdmin()"  class="btn btn-success" [routerLink]="['/updatebus',bus.idBus]">Modifier</a></td>
                        </tr>
                    </tbody>
    
                </table>
            </div>
        </div>
    </div>
  